.index-wrap{
  .route-box{
    background: transparent;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    a{
      padding: 0 20px;
      display: inline-block;
      border-radius: 5px;
      line-height: 30px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease-in;
      &::before{
        color: inherit;
        position: absolute;
        display: block;
        visibility: hidden;
        width: 0;
        height: 0;
        content: ' ';
        border: 3px solid #ecd7c6;
        top: 0px;
        left: 50%;
        transition: height .1s linear .3s,width .1s linear .4s,visibility 0s .51s;
        border-bottom: 0;
        border-left: 0;
        z-index: 5;
      }
      &::after{
        color: inherit;
        position: absolute;
        display: block;
        visibility: hidden;
        width: 0;
        height: 0;
        content: ' ';
        border: 3px solid #ecd7c6;
        right: 0px;
        bottom: 0;
        transition: background-size .1s linear 0s,height .1s linear .1s,width .1s linear .2s,visibility 0s .3s;
        border-top: 0;
        border-right: 0;
        background-image: linear-gradient(#ecd7c6,#ecd7c6);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 0 1px;
        z-index: 5;
      }
      &:hover::before {
        width: calc(50%);
        height: calc(100%);
        visibility: visible;
        transition: width .1s linear 0s,height .1s linear .1s;
      }
      &:hover::after {
        width: calc(100%);
        height: calc(100%);
        transition: visibility 0s .2s,width .1s linear .2s,height .1s linear .3s,background-size .1s linear .4s;
        background-size: 51% 3px;
        visibility: visible;
      }
      &:hover p{
        visibility: visible;
        width: 50px;
        height: 50px;
        transition: width .1s linear 0s,height .1s linear .1s;
      }
      &.nice-btn{
        margin-right: 20px;
        background: rgba(221, 29, 29, 0.3);
        &:hover{
          background: rgba(221, 29, 29, 1);
        }
      }
      &.blog-btn{
        background: rgba(29, 74, 221, 0.3);
        &:hover{
          background: rgba(29, 74, 221, 1);
        }
      }
    }
  }
  
  #container {
    box-shadow: inset 0 1px 0 #444, 0 -1px 0 #000;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    will-change: transform;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  canvas#waterfall {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 55%;
    will-change: transform;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }

  .emma {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }

  h1 {
    color: #0af;
    font-size: 30vw;
  }

  canvas#surface {
    -webkit-animation: fade-in 3000ms forwards;
            animation: fade-in 3000ms forwards;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 750px) {
  .index-wrap{
    background: url('~assets/images/bgimg/jing_m.gif') no-repeat 100% 100%;
    background-size: cover;
    height: 100vh;
  }
  canvas{
    display: none !important;
  }
}